html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: sans-serif;
}

header, footer {
    background: #c5c5c5;
}

.container {
    min-height: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container > * {
    padding: 0 20px;
}

main {
    display: flex;
    margin-bottom: auto;
    /**
     * This margin-bottom:auto allows us to keep the footer sticky and the 
     * main sectin aligned top to the header.
     *
     * Another technique is just remove this margin-bottom, also remove the
     * justify-content: space-between; in the container and add a
     * margin-top: auto; in the footer
     */
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }
}

main aside {
    margin-right: 40px;
}